.searchBar-wrap {
  background-color: #f0f0f0;
  width: 30vw;
  margin: 2.5rem auto 0rem auto;
  padding: 0.9rem;
  border-radius: 5px;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
  width: 100%;
}

.searchBar-wrap span {
  padding-right: 0.5rem;
  cursor: pointer;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0f52ba;
  color: #fff;
}


@media (max-width: 768px) {
  .searchBar-wrap {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .searchBar-wrap {
    width: fit-content;
  }
}